a {
  color: #222; }

h2 {
  font-size: 1.75rem;
  margin-bottom: 24px; }

h3 {
  background-color: #222;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 18px;
  padding-left: 6px; }
  h3 a {
    color: #fff; }

h4 {
  font-size: 1.25rem;
  margin-bottom: 15px; }

p {
  margin-bottom: 12px; }

.underline {
  padding: 12px 0;
  text-decoration: none;
  overflow: hidden;
  position: relative; }
  .underline span {
    position: relative;
    z-index: 2;
    -webkit-transition: all 0.3s;
    /* Safari */
    transition: all 0.3s; }
  .underline:after {
    content: "";
    background-color: #222;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 100%;
    top: 0;
    z-index: 0;
    -webkit-transition: all 0.3s;
    /* Safari */
    transition: all 0.3s; }
  .underline:hover span {
    color: #fff;
    padding: 0 12px; }
  .underline:hover:after {
    right: 0; }

.wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow-x: hidden;
  padding: 96px 24px 0;
  position: relative;
  width: 100%; }

.container {
  max-width: 1200px;
  position: relative;
  width: 100%;
  z-index: 2; }
  .container .wrapper-container {
    max-width: 700px;
    padding-bottom: 84px;
    width: 100%; }
    @media only screen and (min-width: 1024px) {
      .container .wrapper-container {
        margin-left: 100px; } }
  .container .section {
    margin-bottom: 84px; }
    .container .section .section-container {
      margin-bottom: 36px; }
  .container .intro {
    padding: 36px 0; }
    .container .intro .underline {
      padding: 3px 0; }
      .container .intro .underline span {
        text-decoration: underline; }
      .container .intro .underline:after {
        background-color: #fff; }
      .container .intro .underline:hover span {
        color: #222; }
  .container .logos .tiles {
    display: flex;
    flex-wrap: wrap; }
    .container .logos .tiles li {
      padding: 24px;
      width: 100%; }
      @media only screen and (min-width: 420px) {
        .container .logos .tiles li {
          width: 50%; } }
      .container .logos .tiles li img {
        width: 100%; }
  .container .links {
    align-items: flex-start;
    display: flex;
    flex-direction: column; }

.header {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #fff);
  display: flex;
  justify-content: center;
  left: 0;
  padding: 12px 24px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10; }
  .header .header-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%; }
  .header .logo {
    height: 60px; }
    .header .logo svg {
      height: 100%; }
  @media only screen and (min-width: 768px) {
    .header .mobile {
      display: none; } }
  .header .desktop {
    display: none; }
    @media only screen and (min-width: 768px) {
      .header .desktop {
        display: block; } }
  .header .contact {
    align-items: center;
    display: flex;
    justify-content: flex-end; }
    .header .contact a {
      color: #222;
      font-size: 14px;
      text-decoration: none; }
      .header .contact a img {
        height: 24px; }
    .header .contact .email {
      margin-right: 16px; }
      .header .contact .email img {
        height: 20px;
        margin-top: 4px; }

.bg-image {
  bottom: 0;
  position: fixed;
  right: 0;
  top: 0; }
  .bg-image img {
    height: 100%; }
  .bg-image:after {
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0; }
    @media only screen and (min-width: 1024px) {
      .bg-image:after {
        display: none; } }

.testimonials .testimonial {
  position: relative; }
  .testimonials .testimonial p {
    font-style: italic; }
  .testimonials .testimonial .position {
    font-size: 0.8rem; }
  .testimonials .testimonial:after {
    content: "";
    background: url(../img/quote.png) no-repeat;
    height: 33px;
    left: 0;
    opacity: 0.15;
    position: absolute;
    top: 0;
    width: 40px;
    z-index: -1; }

*,
*::after,
*::before {
  box-sizing: border-box; }

::selection {
  background: #222;
  color: #fff; }

::-moz-selection {
  background: #222;
  color: #fff; }

html {
  font-size: 16px;
  line-height: 1.2; }

body {
  font-size: 1rem;
  font-family: "Roboto Mono", monospace;
  font-line-height: 1.2;
  color: #222;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body::before {
    content: 'mobile';
    display: none; }
  @media only screen and (min-width: 1024px) {
    body::before {
      /* never visible - this is used in jQuery to check the current MQ */
      content: 'desktop'; } }

/* --------------------------------

Main Components

-------------------------------- */

/*# sourceMappingURL=style.css.map */
