@media only screen and (min-width: 1050px) {
  .cd-section {
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    height: 100vh; }

  .visible {
    z-index: 2;
    opacity: 1; } }
.slide_1 {
  position: relative;
  width: 100vw;
  height: 100vh; }
  .slide_1 .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    .slide_1 .logo svg {
      margin-bottom: 2rem;
      width: 90vw; }
      @media only screen and (min-width: 768px) {
        .slide_1 .logo svg {
          width: 75vw; } }
      @media only screen and (min-width: 1050px) {
        .slide_1 .logo svg {
          width: 60vw; } }

ul.icons {
  display: flex;
  justify-content: center;
  margin-top: 1rem; }
  ul.icons li {
    margin: 0 0.5rem; }
    ul.icons li .fa:hover {
      color: #D71955;
      transition: color 0.5s; }

.second_sl,
.third_sl,
.fourth_sl,
.fifth_sl {
  margin-bottom: 5rem;
  overflow: hidden; }

.second_sl .container {
  align-items: center;
  display: flex; }

.second_sl h2,
.fifth_sl h2 {
  margin-bottom: 3rem; }

.third_sl h2 {
  margin-bottom: 3rem; }
.third_sl .tiles {
  margin-bottom: 3rem; }

.fourth_sl h2 {
  margin-bottom: 1rem; }
.fourth_sl h5 {
  margin-bottom: 3rem; }
.fourth_sl .tap-year {
  display: block; }
.fourth_sl .hover-year {
  display: none; }
@media only screen and (min-width: 1050px) {
  .fourth_sl .tap-year {
    display: none; }
  .fourth_sl .hover-year {
    display: block; } }

.container {
  max-width: 1140px;
  width: 100%;
  float: left; }
  @media only screen and (min-width: 1050px) {
    .container {
      float: none;
      left: 50% !important;
      top: 50% !important;
      transform: translate(-50%, -50%) !important; } }

.half {
  width: 100%;
  float: left;
  text-align: center; }
  @media only screen and (min-width: 1050px) {
    .half {
      width: 50%; } }
  .half p {
    text-align: left;
    font-size: 1rem;
    line-height: 1.5;
    padding: 1rem 2rem; }
    .half p .fa {
      color: #D71955; }

.tiles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .tiles li {
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    width: 50%; }
    @media only screen and (min-width: 768px) {
      .tiles li {
        width: 25%; } }
    .tiles li img {
      width: 100%; }

.years li {
  min-height: 200px;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  -webkit-tap-highlight-color: transparent; }
  @media only screen and (min-width: 768px) {
    .years li {
      width: 50%; } }
  @media only screen and (min-width: 1050px) {
    .years li {
      width: 33.3%; } }
  .years li:before {
    position: absolute;
    transition: opacity 0.5s;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
  .years li ul {
    width: 100%;
    display: none; }
  .years li li {
    width: 80%;
    font-size: 1rem;
    min-height: 1rem;
    margin: 0.5rem 10%;
    text-align: center; }
.years .year_1:before {
  content: url(../img/11.svg); }
.years .year_2:before {
  content: url(../img/12.svg); }
.years .year_3:before {
  content: url(../img/13.svg); }
.years .year_4:before {
  content: url(../img/14.svg); }
.years .year_5:before {
  content: url(../img/15.svg); }
.years .year_6:before {
  content: url(../img/16.svg); }
.years .year:hover:before {
  opacity: 0.1;
  transition: opacity 0.5s; }

/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #999;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none; }
  @media only screen and (min-width: 1050px) {
    body::before {
      /* never visible - this is used in jQuery to check the current MQ */
      content: 'desktop'; } }

a {
  color: #999;
  text-decoration: none; }

/* --------------------------------

Main Components

-------------------------------- */
@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"] {
    overflow: hidden; } }

.cd-section {
  background-color: #fff;
  position: relative; }
  .cd-section h2 {
    line-height: 1.5;
    text-align: center;
    font-size: 1.5rem;
    color: #999; }
  .cd-section h5 {
    line-height: 1.5;
    text-align: center;
    font-size: 1rem;
    color: #999; }
  [data-animation="parallax"] .cd-section > div, [data-animation="fixed"] .cd-section > div, [data-animation="opacity"] .cd-section > div {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  @media only screen and (min-width: 1050px) {
    .cd-section h2 {
      font-size: 2rem;
      font-weight: 300; }
    [data-hijacking="on"] .cd-section {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; }
      [data-hijacking="on"] .cd-section > div {
        visibility: visible; }
    [data-hijacking="off"] .cd-section > div {
      opacity: 0; }
    [data-animation="rotate"] .cd-section {
      /* enable a 3D-space for children elements */
      -webkit-perspective: 1800px;
      -moz-perspective: 1800px;
      perspective: 1800px; }
    [data-hijacking="on"][data-animation="rotate"] .cd-section:not(:first-of-type) {
      -webkit-perspective-origin: center 0;
      -moz-perspective-origin: center 0;
      perspective-origin: center 0; }
    [data-animation="scaleDown"] .cd-section > div, [data-animation="gallery"] .cd-section > div, [data-animation="catch"] .cd-section > div {
      box-shadow: 0 0 0 rgba(25, 30, 46, 0.4); }
    [data-animation="opacity"] .cd-section.visible > div {
      z-index: 6; } }

@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type > div::before {
    display: none; } }
@media only screen and (min-width: 1050px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    [data-hijacking="on"] .cd-section > div {
      position: absolute; }
    [data-animation="rotate"] .cd-section > div {
      -webkit-transform-origin: center bottom;
      -moz-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
      -o-transform-origin: center bottom;
      transform-origin: center bottom; } }

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 10;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none; }
  .cd-vertical-nav a {
    display: block;
    height: 40px;
    width: 40px;
    /* image replace */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../img/cd-icon-arrow.svg) no-repeat center center; }
    .cd-vertical-nav a.cd-prev {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      margin-bottom: 10px; }
    .cd-vertical-nav a.inactive {
      visibility: hidden;
      opacity: 0;
      -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
      -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
      transition: opacity 0.2s 0s, visibility 0s 0.2s; }
    .cd-vertical-nav a:hover {
      opacity: 0.5;
      transition: opacity 0.2s; }
  @media only screen and (min-width: 1050px) {
    .cd-vertical-nav {
      display: block; } }

/*# sourceMappingURL=style.css.map */
