/* --------------------------------

Primary style

-------------------------------- */
*,
*::after,
*::before {
  box-sizing: border-box; }

html {
  font-size: 16px; }
  @media only screen and (min-width: 1024px) {
    html {
      font-size: 18px; } }

body {
  background-color: #fff;
  color: #999;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none; }

/* --------------------------------

Main Components

-------------------------------- */
section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 2rem;
  max-width: 1240px;
  padding: 0 1rem;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    section {
      padding: 0 2rem; } }

@media only screen and (min-width: 640px) {
  .columns {
    display: flex; } }
.columns .container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  @media only screen and (min-width: 640px) {
    .columns .container {
      width: 50%; } }

.container {
  margin-bottom: 2rem; }

ul li {
  line-height: 1.4;
  margin: 1rem 0;
  text-align: center; }

/* --------------------------------

Header

-------------------------------- */
/* --------------------------------

Footer

-------------------------------- */
.footer {
  align-items: center;
  background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.95) 70px);
  bottom: -440px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 5; }
  .footer.open {
    bottom: 0; }
    .footer.open .btn div {
      transform: translate(-50%, -50%); }
    .footer.open .btn .middle {
      transform: translate(-50%, -50%) rotate(45deg); }
    .footer.open .btn .middle2 {
      transform: translate(-50%, -50%) rotate(-45deg); }
    .footer.open .btn .top,
    .footer.open .btn .bottom {
      transform: translate(-50%, 0%);
      width: 0; }
    .footer.open .btn .bottom {
      transform: translate(-50%, -50%) rotate(-45deg);
      top: 50%; }
  .footer .btn {
    background-color: #D71955;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin: 10px auto;
    z-index: 10;
    transition: all 0.1s;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); }
  .footer .grow {
    transform: scale(0.75); }
  .footer .navigation {
    align-items: center;
    display: flex;
    color: #000;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100%; }
  .footer .nav-items {
    display: flex;
    margin-bottom: 2rem; }
    .footer .nav-items.icons {
      flex-direction: row;
      justify-content: space-between; }
      .footer .nav-items.icons li {
        margin: 1rem 2rem; }
        .footer .nav-items.icons li .fa {
          color: #D71955;
          font-size: 24px;
          transition: color 0.3s; }
          .footer .nav-items.icons li .fa:hover {
            color: #999; }
    .footer .nav-items.links {
      flex-direction: column;
      justify-content: space-around; }
      .footer .nav-items.links div {
        color: #D71955;
        cursor: pointer;
        margin: 2rem 0;
        text-align: center; }
        .footer .nav-items.links div:hover {
          color: #999; }
  .footer .logo {
    margin-bottom: 1rem; }
    .footer .logo svg {
      width: 100px; }
  .footer .btn div {
    position: absolute;
    background-color: white;
    left: 50%;
    height: 2px;
    transition: all .3s ease-in-out;
    transform: translate(-50%, -50%); }
  .footer .middle,
  .footer .middle2 {
    width: 24px;
    top: 50%; }
  .footer .top {
    width: 20px;
    top: calc(50% - 10px); }
  .footer .bottom {
    width: 20px;
    top: calc(50% + 10px); }

a {
  color: #D71955;
  text-decoration: none; }

h2 {
  color: #999;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  text-align: center; }

h3 {
  color: #999;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  text-align: center;
  position: relative; }

h5 {
  color: #999;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center; }

h6 {
  color: #999;
  line-height: 1;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  font-style: italic;
  text-align: center; }

p {
  line-height: 1.5;
  margin: 0 0 1rem; }

p.quote {
  float: right;
  font-style: italic;
  margin: 0 auto;
  padding: 2rem 1rem 2rem;
  text-align: left;
  width: 60%; }
  p.quote:after {
    background: #D71955;
    content: '';
    height: calc(100% - 4rem);
    position: absolute;
    right: 100%;
    top: 2rem;
    width: 2px; }

.title {
  position: relative; }
  .title:after {
    background: #D71955;
    content: '';
    height: 2px;
    position: absolute;
    left: 0;
    top: 100%;
    width: 40%; }

.intro {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh; }
  .intro svg {
    margin-bottom: 2rem;
    width: 90vw; }
    @media only screen and (min-width: 768px) {
      .intro svg {
        width: 75vw; } }
    @media only screen and (min-width: 1024px) {
      .intro svg {
        width: 60vw; } }

@media only screen and (min-width: 768px) {
  .about-me .text {
    display: flex; } }
.about-me .text p {
  flex: 1;
  padding: 0 1rem; }
.about-me .image {
  margin-bottom: 4rem;
  text-align: center;
  width: 100%; }
  .about-me .image img {
    margin: auto;
    max-width: 300px;
    width: 60%; }
@media only screen and (min-width: 768px) {
  .about-me .logos {
    display: flex; } }
.about-me .logos > div {
  flex: 1; }
  @media only screen and (min-width: 768px) {
    .about-me .logos > div {
      padding: 0 2rem; } }
.about-me .logos h3 {
  text-align: center; }

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2rem; }
  .tiles li {
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    width: 50%; }
    .tiles li img {
      width: 100%; }
  .tiles.brands li {
    width: 33%; }

@media only screen and (min-width: 640px) {
  .timeline h6 {
    display: none; } }
.timeline .years {
  width: 100vw;
  position: relative;
  text-align: center; }
  .timeline .years:after, .timeline .years:before {
    content: '';
    height: 100%;
    width: 40px;
    position: absolute;
    top: 0;
    z-index: 2; }
  .timeline .years:after {
    right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white); }
  .timeline .years:before {
    left: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), white); }
  .timeline .years .years-cont {
    overflow: auto; }
  .timeline .years ul {
    display: inline-block;
    margin: 0 20px;
    width: 508px;
    position: relative;
    z-index: 1; }
  .timeline .years li {
    border-radius: 50%;
    color: #D71955;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0 20px;
    transition: all 0.5s ease-in-out;
    text-align: center;
    width: 40px; }
    .timeline .years li.active {
      background-color: #D71955;
      color: #fff; }

.details {
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .details {
      display: flex;
      justify-content: space-between; } }
  .details ul {
    flex: 1;
    margin-bottom: 4rem; }

/*# sourceMappingURL=style.css.map */
