footer {

	display: flex;
	justify-content: center;
	padding: 40px 0 20px;
	width: 100%;

	svg { height: 30px; }
}

.cd-section.first_sl { padding: 0 }

.slide_1{

	height:100vh;
	padding: 0;
	position:relative;
	width:100vw;

	.logo{

		position:absolute;
		@include center(xy);

		svg{

			margin-bottom:2rem;
			max-width: 600px;
			width:90vw;

			@include MQ(M) { width:75vw; }
			@include MQ(L) { width:60vw; }
		}
	}
}

ul.icons{

	display:flex;
	justify-content:center;
	margin-top:1rem;
	li{
		margin:0 0.5rem;
		.fa:hover{
			color:$c-pink;
			transition:color 0.5s;
		}
	}
}

.second_sl .container {

	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	h2 { min-width: 100% }

	@include MQ(M) { flex-direction: row; }
}

.second_sl,
.third_sl,
.fifth_sl {

	h2{ margin-bottom:3rem; }
}

.third_sl{

	.tiles{ margin-bottom:3rem; }
}

.fourth_sl{

	h2{ margin-bottom:1rem; }
	h5{ margin-bottom:3rem; }

	.tap-year { display: block }
	.hover-year { display: none }

	@include MQ(L) {

		.tap-year { display: none }
		.hover-year { display: block }
	}
}
.container{

	max-width:1140px;
	margin: auto;
	width:100%;
}

.half{
	width:100%;
	float:left;
	text-align:center;
	@include MQ(L) {
		width:50%;
	}
	p{
		text-align:left;
		font-size:1rem;
		line-height:1.5;
		padding:0.5rem 2rem;
		.fa{
			color:$c-pink;
		}
	}
}

p.quote {

	float: right;
	font-style: italic;
	padding: 2rem 40% 0 2rem;
	text-align: left;
}

.tiles{

	display:flex;
	justify-content:space-around;
	flex-wrap: wrap;

	li{

		padding:0.5rem 1rem;
		box-sizing:border-box;
		width:50%;

		@include MQ(M) { width:25%; }

		img{ width:100%; }
	}
}

.years{

	li{

		min-height:200px;
		float:left;
		display:flex;
		align-items:center;
		justify-content:center;
		position:relative;
		width:100%;
		-webkit-tap-highlight-color: rgba(0,0,0,0);

		@include MQ(M) { width:50%; }
		@include MQ(L) { width:33.3%; }

		&:before{

			position:absolute;
			transition:opacity 0.5s;
			@include center(xy);
		}

		ul{

			width:100%;
			display:none;
		}

		li {

			width:80%;
			font-size:1rem;
			min-height: 1rem;
			margin:0.5rem 10%;
			text-align:center;
		}
	}

	.year_1:before{ content:url(../img/11.svg); }
	.year_2:before{ content:url(../img/12.svg); }
	.year_3:before{ content:url(../img/13.svg); }
	.year_4:before{ content:url(../img/14.svg); }
	.year_5:before{ content:url(../img/15.svg); }
	.year_6:before{ content:url(../img/16.svg); }

	.year:hover{

		&:before{
			opacity:0.1;
			transition:opacity 0.5s;
		}
	}
}
