@import 'bourbon/bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

@import '../partials/desktop-nav'; // navigation for desktop

@import '../partials/mobile-nav'; // navigation for mobile

@import 'portfolio'; // portfolio specific styling

/* --------------------------------

Primary style

-------------------------------- */

*,
*::after,
*::before { box-sizing: border-box; }

html { font-size:18px;}

body {

	font: {

		size: 1rem;
		family: $primary-font;
	}

	color: $c-lightgrey;
	background-color:$c-white;

	@include font-smoothing;

	&::before {
		content: 'mobile';
		display: none;
	}

	@include MQ(L) {

		&::before {
			/* never visible - this is used in jQuery to check the current MQ */
			content: 'desktop';
		}
	}
}

a {
	color: $c-lightgrey;
	text-decoration: none;
}

/* --------------------------------

Main Components

-------------------------------- */

.cd-section {

	background-color: $c-white;
	padding-top: 135px;
	position:relative;

	h2 {

		line-height: 1.5;
		text-align: center;
		font-size: 1.5rem;
		color:$c-lightgrey;
	}

	h5 {

		line-height: 1.5;
		text-align: center;
		font-size: 1rem;
		color:$c-lightgrey;
	}

	@include MQ(L) {

		h2 {

			font-size: 2rem;
			font-weight: 300;
		}
	}
}
