@import 'partials/variables'; // colors, fonts etc...
@import 'partials/mixins';
@import 'partials/layout';

*,
*::after,
*::before { box-sizing: border-box; }

html { font-size:18px;}

body {

	font: {

		size: 1rem;
		family: $primary-font;
	}

	color: $c-lightgrey;
	background-color:$c-white;

	@include font-smoothing;

	&::before {
		content: 'mobile';
		display: none;
	}

	@include MQ(L) {

		&::before {
			/* never visible - this is used in jQuery to check the current MQ */
			content: 'desktop';
		}
	}
}

/* --------------------------------

Main Components

-------------------------------- */
