@import 'partials/variables'; // colors, fonts etc...

@import 'partials/mixins';
@import 'partials/typography';

@import 'partials/layout';

@import 'partials/navigation';
@import 'partials/overlay';

@import 'partials/content-sections';


*,
*::after,
*::before { box-sizing: border-box; }

::selection {

  background: $c-primary;
  color: $c-white;
}
::-moz-selection {

  background: $c-primary;
  color: $c-white;
}

html,
body {

    display: flex;
    align-items: center;
    justify-content: center;

	font-size: 14px;

	line-height: 1.2;
    margin: 0;
    min-height: 100%;
    padding: 0;
}

body {

	font: {

		size: 1rem;
		family: $primary-font;
	}

	color: $c-black;

	@include font-smoothing;
}
