.desktop-nav {

	align-items: flex-start;
	background-image: linear-gradient(to bottom, $c-white, transparent);
	display: none;
	justify-content: space-between;
	padding: 25px 40px 50px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;

	@include MQ(L) { display: flex; }

	svg { height: 60px; }

	nav {

		margin-top: 15px;

		.ni {

			color: $c-pink;
			cursor: pointer;
			display: inline-block;
			font-weight: lighter;
			margin-right: 50px;
			position: relative;

			&:last-of-type { margin-right: 0; }

			&:after {

				background-color: $c-pink;
				content: '';
				height: 1px;
				left: 50%;
				margin-top: 5px;
				position: absolute;
				top: 100%;
				transition: all 0.3s ease-in-out;
				width: 0;
			}

			&.active::after {

				left: 0;
				transition: all 0.3s ease-in-out;
				width: 100%;
			}
		}
	}

	.social-icons {

		.si {

			background-color: $c-pink;
			border-radius: 50%;
			display: inline-block;
			height: 40px;
			margin-right: 10px;
			width: 40px;

			&:last-of-type { margin-right: 0; }
		}
	}
}
