.mobile-nav {

	align-items: flex-end;
	bottom: 0;
	display: flex;
	height: 70px;
	justify-content: center;
	position: fixed;
	width: 100%;
	z-index: 10;

	@include MQ(L) { display: none; }

	.btn {

		background-color: DeepPink;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		position: relative;
		cursor: pointer;
		margin-bottom: 10px;
		z-index:10;

		div {

			position: absolute;
			background-color: white;
			left: 50%;
			height: 2px;
			transition: all .3s ease-in-out;
			transform: translate( -50%, -50% );
		}

		.middle,
		.middle2{

		  width: 24px;
		  top: 50%;
		}

		.top {

		  width: 20px;
		  top: calc(50% - 10px);
		}

		.bottom {

            width: 20px;
            top: calc(50% + 10px);
        }
	}

    .navigation {

        color: #000;
        position: fixed;
        background-image: linear-gradient( to bottom, transparent, white 70px);
        padding: 70px 20px;
        width: 100%;
        top: calc(100% - 70px);
        z-index:9;
        transition: all 0.75s ease-in-out;
    }

    &.open {

        .btn {

            div{ transform: translate( -50%, -50% ); }
            .middle { transform: translate( -50%, -50% ) rotate( 45deg ); }
            .middle2 { transform: translate( -50%, -50% ) rotate( -45deg ); }

            .top,
            .bottom {

                transform: translate( -50%, 0% );
                width: 0;
            }
        }

        .navigation {

            top: calc(100% - 260px);
            transition: all 0.75s ease-in-out;
        }
    }
}
