a {

    color: $c-primary;
    text-decoration: none;
}

h1 { font-size: 2.488rem }
h2 { font-size: 2.074rem }
h3 { font-size: 1.728rem }
h4 { font-size: 1.44rem }
h5 { font-size: 1.2rem }
h6 { font-size: 0.833rem }
p { font-size: 1rem }

h2,
p { margin-bottom: 1rem }

.underline {

    overflow: hidden;
    position: relative;
    text-transform: uppercase;

    .und_text {

        font-weight: 600;
        position: relative;
        z-index: 2;
    }

    &:after {

        content: "";

        background-color: $c-primary;
        bottom: -2px;
        height: 2px;
        left: 0;
        position: absolute;
        right: 100%;
        z-index: 0;

        -webkit-transition: all 200ms ease-in-out;
        -ms-transition: all 200ms ease-in-out;
        -moz-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
    }

    &:hover {

        &:after { right: 0 }
    }
}
