.testimonial {

    margin: 36px 0 60px 16px;
    padding: 0 16px;
    position: relative;

    &::before {

        content: "";

        background-color: red;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        width: 2px;
    }
}
