/* --------------------------------

Primary style

-------------------------------- */
*,
*::after,
*::before {
  box-sizing: border-box; }

html {
  font-size: 16px; }
  @media only screen and (min-width: 1024px) {
    html {
      font-size: 18px; } }

body {
  background-color: #fff;
  color: #999;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none; }

/* --------------------------------

Main Components

-------------------------------- */
section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 2rem;
  max-width: 1240px;
  min-height: 100vh;
  padding: 1rem;
  width: 100%; }
  @media only screen and (min-width: 768px) {
    section {
      padding: 2rem; } }

@media only screen and (min-width: 640px) {
  .columns {
    display: flex; } }
.columns .container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  @media only screen and (min-width: 640px) {
    .columns .container {
      width: 50%; } }

.container {
  margin-bottom: 7rem; }

ul li {
  line-height: 1.4;
  margin: 1rem 0;
  text-align: center; }

/* --------------------------------

Header

-------------------------------- */
/* --------------------------------

Footer

-------------------------------- */
.header {
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 90%, rgba(255, 255, 255, 0) 100%);
  display: none;
  justify-content: space-between;
  left: 0;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }
  @media only screen and (min-width: 1024px) {
    .header {
      display: flex; } }
  .header .logo {
    width: 212px; }
    .header .logo svg {
      width: 120px; }
  .header .nav-items {
    align-items: center;
    display: flex; }
    .header .nav-items > div,
    .header .nav-items li {
      margin: 0 1rem; }
    .header .nav-items.links {
      color: #D71955;
      cursor: pointer; }

.footer {
  align-items: center;
  background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.95) 70px);
  bottom: -440px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  position: fixed;
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 5; }
  @media only screen and (min-width: 1024px) {
    .footer {
      bottom: 0;
      position: relative; } }
  .footer.open {
    bottom: 0; }
    .footer.open .btn div {
      transform: translate(-50%, -50%); }
    .footer.open .btn .middle {
      transform: translate(-50%, -50%) rotate(45deg); }
    .footer.open .btn .middle2 {
      transform: translate(-50%, -50%) rotate(-45deg); }
    .footer.open .btn .top,
    .footer.open .btn .bottom {
      transform: translate(-50%, 0%);
      width: 0; }
    .footer.open .btn .bottom {
      transform: translate(-50%, -50%) rotate(-45deg);
      top: 50%; }
  .footer .btn {
    background-color: #D71955;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    margin: 10px auto;
    z-index: 10;
    transition: all 0.1s;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); }
    @media only screen and (min-width: 1024px) {
      .footer .btn {
        display: none; } }
  .footer .grow {
    transform: scale(0.75); }
  .footer .navigation {
    align-items: center;
    display: flex;
    color: #000;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100%; }
    @media only screen and (min-width: 1024px) {
      .footer .navigation {
        display: none; } }
  .footer .nav-items {
    display: flex;
    margin-bottom: 2rem; }
    .footer .nav-items.icons {
      flex-direction: row;
      justify-content: space-between; }
      .footer .nav-items.icons li {
        margin: 1rem 2rem; }
        .footer .nav-items.icons li .fa {
          color: #D71955;
          font-size: 24px;
          transition: color 0.3s; }
          .footer .nav-items.icons li .fa:hover {
            color: #999; }
    .footer .nav-items.links {
      flex-direction: column;
      justify-content: space-around; }
      .footer .nav-items.links div {
        color: #D71955;
        cursor: pointer;
        margin: 2rem 0;
        text-align: center;
        transition: color 0.3s; }
        .footer .nav-items.links div:hover {
          color: #999; }
  .footer .logo {
    margin-bottom: 1rem; }
    .footer .logo svg {
      width: 100px; }
  .footer .btn div {
    position: absolute;
    background-color: white;
    left: 50%;
    height: 2px;
    transition: all .3s ease-in-out;
    transform: translate(-50%, -50%); }
  .footer .middle,
  .footer .middle2 {
    width: 24px;
    top: 50%; }
  .footer .top {
    width: 20px;
    top: calc(50% - 10px); }
  .footer .bottom {
    width: 20px;
    top: calc(50% + 10px); }

a {
  color: #D71955;
  text-decoration: none;
  transition: color 0.3s; }
  a:hover {
    color: #999; }

h2 {
  color: #999;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  text-align: center; }

h3 {
  color: #999;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  text-align: center;
  position: relative; }

h5 {
  color: #999;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center; }

h6 {
  color: #999;
  line-height: 1;
  margin-bottom: 2rem;
  font-size: 0.8rem;
  font-style: italic;
  text-align: center; }

p {
  line-height: 1.5;
  margin: 0 0 1rem; }

p.quote {
  float: right;
  font-style: italic;
  margin: 0 auto;
  padding: 2rem 1rem 2rem;
  text-align: left;
  width: 60%; }
  p.quote:after {
    background: #D71955;
    content: '';
    height: calc(100% - 4rem);
    position: absolute;
    right: 100%;
    top: 2rem;
    width: 2px; }

.title {
  position: relative; }
  .title:after {
    background: #D71955;
    content: '';
    height: 2px;
    position: absolute;
    left: 0;
    top: 100%;
    width: 40%; }

.intro {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh; }
  @media only screen and (min-width: 1024px) {
    .intro {
      padding-top: 8rem; } }
  .intro p {
    text-align: center; }
  .intro .logo svg {
    margin-bottom: 2rem;
    max-width: 700px;
    width: 80vw; }
    @media only screen and (min-width: 768px) {
      .intro .logo svg {
        width: 60vw; } }
    @media only screen and (min-width: 1024px) {
      .intro .logo svg {
        width: 40vw; } }
  .intro .arrow-more {
    border: 1px solid #D71955;
    display: none;
    cursor: pointer;
    height: 50px;
    margin-top: 5rem;
    text-align: center;
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
    width: 50px; }
    @media only screen and (min-width: 1024px) {
      .intro .arrow-more {
        display: block; } }
    .intro .arrow-more svg {
      height: 60%;
      margin-top: 20%;
      transform: rotate(-45deg); }
      .intro .arrow-more svg g,
      .intro .arrow-more svg path {
        fill: #D71955;
        stroke: transparent; }
    .intro .arrow-more:hover {
      transform: rotate(45deg) scale(0.9); }

@media only screen and (min-width: 1024px) {
  .about-me {
    padding-top: 8rem; } }
.about-me .text {
  margin-bottom: 4rem; }
  @media only screen and (min-width: 768px) {
    .about-me .text {
      display: flex; } }
  .about-me .text p {
    flex: 1;
    margin: 0;
    padding: 0 1rem; }
.about-me .image {
  margin-bottom: 7rem;
  text-align: center;
  width: 100%; }
  .about-me .image img {
    margin: auto;
    max-width: 300px;
    width: 60%; }
@media only screen and (min-width: 768px) {
  .about-me .logos {
    display: flex; } }
.about-me .logos > div {
  flex: 1; }
  @media only screen and (min-width: 768px) {
    .about-me .logos > div {
      padding: 0 2rem; } }
  .about-me .logos > div:first-of-type {
    margin-bottom: 7rem; }
    @media only screen and (min-width: 768px) {
      .about-me .logos > div:first-of-type {
        border-right: 1px solid #D71955;
        margin-bottom: 0; } }
.about-me .logos h3 {
  text-align: center; }

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 2rem; }
  .tiles li {
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    width: 50%; }
    .tiles li img {
      width: 100%; }
  .tiles.brands li {
    width: 33%; }

@media only screen and (min-width: 640px) {
  .timeline h6 {
    display: none; } }
.timeline .years {
  width: 100vw;
  position: relative;
  text-align: center; }
  .timeline .years:after, .timeline .years:before {
    content: '';
    height: 100%;
    width: 40px;
    position: absolute;
    top: 0;
    z-index: 2; }
  .timeline .years:after {
    right: 0;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white); }
  .timeline .years:before {
    left: 0;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), white); }
  .timeline .years .years-cont {
    overflow: auto; }
  .timeline .years ul {
    display: inline-block;
    margin: 0 20px;
    width: 508px;
    position: relative;
    z-index: 1; }
  .timeline .years li {
    border-radius: 50%;
    color: #999;
    cursor: pointer;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 0 20px;
    transition: all 0.5s ease-in-out;
    text-align: center;
    width: 40px; }
    .timeline .years li.active {
      background-color: #D71955;
      color: #fff; }
.timeline .main-info {
  margin: auto;
  max-width: 600px;
  overflow-x: auto;
  width: 100%; }
  .timeline .main-info .main-info-cont {
    height: 280px;
    margin: 2rem 0;
    position: relative;
    width: 100%; }
  .timeline .main-info ul {
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 0;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    .timeline .main-info ul.show {
      opacity: 1;
      z-index: 1; }
    .timeline .main-info ul .bg-year {
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      color: #D71955;
      font-size: 200px;
      opacity: 0.05;
      position: absolute;
      z-index: 0; }
    .timeline .main-info ul li {
      margin: 1rem auto;
      max-width: 300px;
      position: relative;
      z-index: 1;
      width: 100%; }

.details {
  width: 100%; }
  @media only screen and (min-width: 768px) {
    .details {
      display: flex; } }
  .details .column {
    flex: 1;
    margin-bottom: 7rem; }
    @media only screen and (min-width: 768px) {
      .details .column {
        margin-bottom: 0; } }
  .details ul {
    flex: 1;
    margin-bottom: 4rem; }

.how-i-work p {
  margin-bottom: 2rem;
  text-align: center;
  width: 80%; }
  @media only screen and (min-width: 768px) {
    .how-i-work p {
      width: 60%; } }
.how-i-work .slides {
  padding: 0 3rem;
  position: relative;
  width: 100%; }
  .how-i-work .slides .arrow {
    display: none;
    position: absolute;
    top: 50%;
    transition: all 0.3s ease-in-out;
    width: 30px; }
    .how-i-work .slides .arrow svg g path {
      fill: #D71955; }
    .how-i-work .slides .arrow.show {
      cursor: pointer;
      display: inline-block; }
    .how-i-work .slides .arrow.arrow-left {
      right: calc(100% - 30px);
      transform: rotate(90deg) translateX(-50%); }
    .how-i-work .slides .arrow.arrow-right {
      left: calc(100% - 30px);
      transform: rotate(-90deg) translateX(50%); }
  .how-i-work .slides .slides-container {
    overflow: hidden;
    width: 100%; }
  .how-i-work .slides .slide-gallery {
    align-items: center;
    display: flex;
    transition: all 0.3s ease-in-out; }
  .how-i-work .slides .slide {
    display: inline-block;
    width: 100%; }
    .how-i-work .slides .slide .slide-info {
      display: flex;
      flex-direction: column-reverse;
      width: 100%; }
      @media only screen and (min-width: 768px) {
        .how-i-work .slides .slide .slide-info {
          flex-direction: row; } }
    .how-i-work .slides .slide .image {
      align-items: center;
      display: flex;
      flex: 1;
      justify-content: center; }
      @media only screen and (min-width: 768px) {
        .how-i-work .slides .slide .image {
          justify-content: flex-end; } }
      .how-i-work .slides .slide .image svg {
        max-width: 200px;
        opacity: 0.5;
        width: 100%; }
        .how-i-work .slides .slide .image svg .slide-svg,
        .how-i-work .slides .slide .image svg path {
          fill: #999; }
    .how-i-work .slides .slide .info {
      align-items: center;
      display: flex;
      flex: 2;
      flex-direction: column;
      justify-content: center;
      padding: 0 2rem; }
      @media only screen and (min-width: 768px) {
        .how-i-work .slides .slide .info {
          align-items: flex-start;
          flex: 1; }
          .how-i-work .slides .slide .info h3 {
            border-left: 1px solid #D71955;
            padding-left: 1rem; } }
      .how-i-work .slides .slide .info p {
        text-align: center; }
        @media only screen and (min-width: 768px) {
          .how-i-work .slides .slide .info p {
            text-align: left; } }

@media only screen and (min-width: 1024px) {
  .contact-me {
    padding-top: 8rem; } }
.contact-me a {
  margin-top: 1rem; }
.contact-me .nav-items {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 2rem; }
  .contact-me .nav-items li {
    margin: 0 1rem; }

*,
*::after,
*::before {
  box-sizing: border-box; }

html {
  font-size: 18px; }

body {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #999;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body::before {
    content: 'mobile';
    display: none; }
  @media only screen and (min-width: 1024px) {
    body::before {
      /* never visible - this is used in jQuery to check the current MQ */
      content: 'desktop'; } }

a {
  color: #999;
  text-decoration: none; }

/* --------------------------------

Main Components

-------------------------------- */
.cd-section {
  background-color: #fff;
  padding-top: 135px;
  position: relative; }
  .cd-section h2 {
    line-height: 1.5;
    text-align: center;
    font-size: 1.5rem;
    color: #999; }
  .cd-section h5 {
    line-height: 1.5;
    text-align: center;
    font-size: 1rem;
    color: #999; }
  @media only screen and (min-width: 1024px) {
    .cd-section h2 {
      font-size: 2rem;
      font-weight: 300; } }

/*# sourceMappingURL=style.css.map */
