.bg-image {

    bottom: 0;
    position: fixed;
    right: 0;
    top: 0;

    img { height: 100% }

    &:after {

        background-color: rgba($c-white, 0.7);
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top:0;
        z-index: 0;

        @include MQ(L) { display: none; }
    }
}
