.intro{

    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
	width:100vw;
	height:100vh;

    @include MQ(L) { padding-top: 8rem; }

    p { text-align: center; }

    .logo {

        svg{

            margin-bottom:2rem;
            max-width: 700px;
            width:80vw;

            @include MQ(M) { width:60vw; }
            @include MQ(L) { width:40vw; }
        }
    }

    .arrow-more {

        border: 1px solid $c-pink;
        display: none;
        cursor: pointer;
        height: 50px;
        margin-top: 5rem;
        text-align: center;
        transform: rotate(45deg);
        transition: all 0.2s ease-in-out;
        width: 50px;

        @include MQ(L) { display: block; }

        svg {

            height: 60%;
            margin-top: 20%;
            transform: rotate(-45deg);

            g,
            path {

                fill: $c-pink;
                stroke: transparent;
            }
        }

        &:hover {

            transform: rotate(45deg) scale(0.9);
        }
    }
}
