.testimonials {

    .testimonial {

        position: relative;

        p { font-style: italic; }
        .position { font-size: 0.8rem }

        &:after {

            content: "";

            background : url(../img/quote.png) no-repeat;
            height: 33px;
            left: 0;
            opacity: 0.15;
            position: absolute;
            top: 0;
            width: 40px;
            z-index: -1;
        }
    }
}
