// colors

$c-black: #222;
$c-lightgrey: #999;
$c-pink: #D71955;
$c-white: #fff;


// fonts

$primary-font: 'Roboto Mono', monospace;


// breakpoints

// will not use these
// $S: 480px;
// $SM: 640px;

$S: 420px;
$M: 768px;
$L: 1024px;
$XL: 1200px;
