// colors

$c-primary: #ff00ff;
$c-black: #222;
$c-lightgrey: #eee;
$c-white: #fff;


// fonts

$primary-font: Helvetica, Arial, sans-serif;


// breakpoints

// will not use these

// $SM: 640px;

$S: 480px;
$M: 768px;
$L: 1024px;
$XL: 1200px;
