.case {

    max-width: 1400px;
    margin: auto;

    @include MQ(S) {

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 0;

        h1 {

            grid-column-start: 4;
            grid-column-end: 10;
        }
    }

    section {

        &.after-vid { padding-top: 0; }

        @include MQ(S) {
            grid-column-start: 3;
            grid-column-end: 10;
        }

        @include MQ(L) {
            grid-column-start: 3;
            grid-column-end: 9;
        }
    }

    .video,
    .image {

        width: 100vw;

        iframe,
        img {

            display: block;
            width: 100%;
        }
    }

    .image {

        margin-left: -1em;

        &.shadow { @include shadow; }

        @include MQ(S) {

            grid-column-start: 2;
            grid-column-end: 6;
            margin: 0;
            width: auto;
        }
    }

    .video {

        margin-bottom: 3em;

        @include MQ(S) {

            grid-column-start: 2;
            grid-column-end: 12;
            width: auto;

            iframe { height: 400px; }
        }
    }

    .block{

        padding-bottom: 3em;

        h2 {

            line-height: 1;
            padding: 0;
        }

        h5 { padding-bottom: 0.75em }

        p { padding-bottom: 0.75em }
        .quote { padding: 0 }

    }

    .feature {

        padding-bottom: 3em;

        h4,
        .image { margin-bottom: 1.5em; }
    }
}
