.products {

    .grid {

        display: grid;
        grid-gap: 24px;

        @include MQ(S) {

            grid-template-columns: repeat(6, 1fr);
            grid-column-start: 1;
            grid-column-end: 7;
            grid-gap: 16px;
        }
    }

    .product {

        position: relative;
        overflow: hidden;

        img {

            display: block;
            width: 100%;
        }

        .content {

            bottom: 0;
            color: $c-white;
            padding: 24px 16px;
            position: absolute;
            right: 0;
            text-align: right;
            width: 100%;
            z-index: 2;

            @include transition;

            @include MQ(M) { right: 100%; }

            .link {

                display: flex;
                align-items: center;
                justify-content: flex-end;

                img {
                    height: 12px;
                    margin-left: 0.5em;
                    width: 16px;
                }
            }
        }

        &::before {

            content: "";
            background: rgba($c-black, 0.75);
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            position: absolute;
            z-index: 1;

            @include MQ(M) { background: rgba($c-black, 0.1); }

            @include transition;
        }

        @include MQ(M) {

            &:hover {

                .content { right: 0; }
                &::before { background: rgba($c-black, 0.75); }
            }
        }

        @include MQ(S) { grid-column: span 3; }
        @include MQ(XL) { grid-column: span 2; }
    }

    @include MQ(S) {

        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 0;

        h1,
        .grid {
            grid-column-start: 2;
            grid-column-end: 6;
        }
    }
}
