h1 {
  font-size: 25.62890625px;
  line-height: 36px;
  padding-bottom: 36px;
}

h2 {
  font-size: 22.78125px;
  line-height: 36px;
  padding-bottom: 24px;
}

h3 {
  font-size: 20.25px;
  line-height: 24px;
  padding-bottom: 12px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
}

p {
  font-size: 16px;
  line-height: 24px;
}
p.quote {
  font-style: italic;
  padding-bottom: 12px;
}

h5 {
  font-size: 14.2222222222px;
  line-height: 24px;
}

a {
  color: #AB7B00;
  cursor: pointer;
  text-decoration: none;
}

.header {
  display: flex;
  height: 48px;
  justify-content: space-between;
  left: 0;
  padding: 6px 8px 0 16px;
  position: fixed;
  right: 0;
  top: -48px;
  z-index: 5;
  -webkit-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.header .logo {
  padding-top: 6px;
}
.header .logo img {
  height: 36px;
}
.header.show {
  top: 0;
}

.footer {
  background-color: #fff;
  bottom: 0;
  display: flex;
  padding: 0 8px;
  position: fixed;
  width: 100vw;
  z-index: 5;
}
.footer .nav-option {
  align-items: center;
  color: #AB7B00;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 12px 8px;
  position: relative;
}
.footer .nav-option::before {
  content: "";
  -webkit-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  background-color: #222;
  height: 2px;
  left: 50%;
  position: absolute;
  top: 0;
  width: 0;
}
@media only screen and (min-width: 1024px) {
  .footer .nav-option::before {
    bottom: 0;
    top: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .footer .nav-option:hover {
    color: #222;
  }
}
.footer .nav-option.selected {
  color: #222;
}
.footer .nav-option.selected::before {
  left: 0;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .footer {
    bottom: 25%;
    flex-direction: column;
    justify-content: space-around;
    right: 16px;
    top: 25%;
    width: 48px;
  }
  .footer .nav-option {
    flex: 0;
    padding: 12px 24px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.case .header {
  top: 0 !important;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.home .logo {
  padding-bottom: 80px;
}
.home .title {
  position: relative;
}
.home .title::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  background-color: #222;
  left: 50%;
  margin-left: -40px;
  top: -12px;
}

section {
  padding: 96px 16px 0;
}

@media only screen and (min-width: 480px) {
  .experience {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0;
  }
  .experience h1 {
    grid-column-start: 2;
    grid-column-end: 6;
  }
}

.job {
  padding: 24px 0 36px;
  position: relative;
}
.job:last-child {
  padding-bottom: 0;
}
.job::before {
  content: "";
  width: 72px;
  height: 2px;
  top: 0;
  left: 0;
  background-color: #828282;
  position: absolute;
}
@media only screen and (min-width: 480px) {
  .job {
    grid-column-start: 2;
    grid-column-end: 6;
  }
}

.skills .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px 16px;
}
@media only screen and (min-width: 1024px) {
  .skills .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.skills .skill {
  padding-top: 12px;
  place-self: start;
  position: relative;
}
.skills .skill::before {
  content: "";
  width: 36px;
  height: 2px;
  top: 0;
  left: 0;
  background-color: #828282;
  position: absolute;
}
@media only screen and (min-width: 480px) {
  .skills {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0;
  }
  .skills h1,
.skills .grid {
    grid-column-start: 2;
    grid-column-end: 6;
  }
}

.testimonial .wrapper {
  margin: 36px 0 60px 16px;
  padding: 0 16px;
  position: relative;
}
.testimonial .wrapper::before {
  content: "";
  background-color: #AB7B00;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 2px;
}
@media only screen and (min-width: 480px) {
  .testimonial {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0;
  }
  .testimonial .wrapper {
    grid-column-start: 3;
    grid-column-end: 7;
  }
}
@media only screen and (min-width: 1024px) {
  .testimonial .wrapper {
    grid-column-start: 3;
    grid-column-end: 6;
  }
}

.products .grid {
  display: grid;
  grid-gap: 24px;
}
@media only screen and (min-width: 480px) {
  .products .grid {
    grid-template-columns: repeat(6, 1fr);
    grid-column-start: 1;
    grid-column-end: 7;
    grid-gap: 16px;
  }
}
.products .product {
  position: relative;
  overflow: hidden;
}
.products .product img {
  display: block;
  width: 100%;
}
.products .product .content {
  bottom: 0;
  color: #fff;
  right: 100%;
  padding: 24px 16px;
  position: absolute;
  width: 100%;
  z-index: 2;
  -webkit-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.products .product::before {
  content: "";
  background: rgba(34, 34, 34, 0.1);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  z-index: 1;
  -webkit-transition: all 400ms ease-in-out;
  -ms-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.products .product:hover .content {
  right: 0;
}
.products .product:hover::before {
  background: rgba(34, 34, 34, 0.75);
}
@media only screen and (min-width: 480px) {
  .products .product {
    grid-column: span 3;
  }
}
@media only screen and (min-width: 1200px) {
  .products .product {
    grid-column: span 2;
  }
}
@media only screen and (min-width: 480px) {
  .products {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0;
  }
  .products h1,
.products .grid {
    grid-column-start: 2;
    grid-column-end: 6;
  }
}

.brands p,
.contact p {
  padding-bottom: 24px;
}
.brands .grid,
.contact .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px 16px;
}
.brands .logo img,
.contact .logo img {
  object-fit: cover;
  width: 100%;
}
@media only screen and (min-width: 480px) {
  .brands,
.contact {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0;
  }
  .brands h1,
.brands p,
.brands .grid,
.contact h1,
.contact p,
.contact .grid {
    grid-column-start: 2;
    grid-column-end: 6;
  }
}
@media only screen and (min-width: 1024px) {
  .brands .grid,
.contact .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

.case {
  max-width: 1400px;
  margin: auto;
}
@media only screen and (min-width: 480px) {
  .case {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0;
  }
  .case h1 {
    grid-column-start: 4;
    grid-column-end: 10;
  }
}
.case section.after-vid {
  padding-top: 0;
}
@media only screen and (min-width: 480px) {
  .case section {
    grid-column-start: 3;
    grid-column-end: 10;
  }
}
@media only screen and (min-width: 1024px) {
  .case section {
    grid-column-start: 3;
    grid-column-end: 9;
  }
}
.case .video,
.case .image {
  width: 100vw;
}
.case .video iframe,
.case .video img,
.case .image iframe,
.case .image img {
  display: block;
  width: 100%;
}
.case .image {
  margin-left: -1em;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
}
@media only screen and (min-width: 480px) {
  .case .image {
    grid-column-start: 2;
    grid-column-end: 6;
    margin: 0;
    width: auto;
  }
}
.case .video {
  margin-bottom: 3em;
}
@media only screen and (min-width: 480px) {
  .case .video {
    grid-column-start: 2;
    grid-column-end: 12;
    width: auto;
  }
  .case .video iframe {
    height: 400px;
  }
}
.case .block {
  padding-bottom: 3em;
}
.case .block h2 {
  line-height: 1;
  padding: 0;
}
.case .block h5 {
  padding-bottom: 0.75em;
}
.case .block p {
  padding-bottom: 0.75em;
}
.case .block .quote {
  padding: 0;
}
.case .feature {
  padding-bottom: 3em;
}
.case .feature h4,
.case .feature .image {
  margin-bottom: 0.75em;
}

::selection {
  background: #222;
  color: #fff;
}

::-moz-selection {
  background: #222;
  color: #fff;
}

body {
  color: #222;
  font-family: Georgia, Times, "Times New Roman", serif;
  padding-bottom: 96px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*# sourceMappingURL=style.css.map */
